/* Tab button styles */
* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --config-value-width: 300px;
}

html {
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
    font-size: 16px;
}

body {
    width: 450px;
    height: 600px;
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#tab-buttons {
    margin-bottom: -1px;
    z-index: 1;
}

#tab-container {
    flex-grow: 1;
}

.tab {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-bottom: 0px;
    margin-right: -2px;
}

.tab:first-child {
    border-top-left-radius: 5px;
}

.tab:last-child {
    border-top-right-radius: 5px;
}

.active {
    background-color: #fff;
    border-bottom: 1px solid #FFF;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 5px;
    height: 100%;
}

.active-content {
    display: block;
}

.info-tooltip {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #888;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    cursor: help;
    margin-left: 5px;
}

.info-tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #FFF;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 9999;
    top: -5px;
    left: 105%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    overflow: visible;
}

.info-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

toggle-switch {
    margin-top: 5px;
}

.config-button {
    width: var(--config-value-width);
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

select,
input[type="text"] {
    width: var(--config-value-width);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
}

.config-section-header {
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}

.config-label {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0;
}

.config-subsection {
    margin: 10px 0;
}

.config-setting {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em;
    padding: 0 0 0 5px;
}

.config-button-disabled {
    color: grey;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    text-align: left;
    padding: 30px;
    min-width: 300px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dialog h2,
.dialog p {
    margin: 0 0 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

#firefox-note {
    font-size: 1.0em;
    color: grey;
    margin-top: 10px;
    padding: 5px;
}

#overlay .error {
    background-color: rgb(187, 187, 187);
    color: black;
}

#overlay #error-dialog {
    display: none;
    background-color: rgb(139, 18, 18);
    color: white;
}

#overlay #pick-dialog {
    display: none;
}

#close-popup {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 15px;
    z-index: 10;
}

#close-popup:hover {
    cursor: pointer;
}