<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta crescent_verify_url="{{ site1_verify_url  | safe }}">
    <meta crescent_disclosure_uid="crescent://email_domain">
    <title>Login - {{ site1_verifier_name }}</title>
    <link rel="stylesheet" href="css/site1_style.css">
    <link rel="icon" href="img/site1-favicon.ico" type="image/x-icon">
</head>
<body>
    <div style="display: flex; align-items: center;">
        <img src="img/site1-logo.png" style="width: 5em; margin-right: 1em;">
        <h1>Welcome to {{ site1_verifier_name }} Health</h1>
    </div>

    <div style="display: flex;">
        <!-- first column -->
        <div style="flex: 1; padding-right: 1em;">
            <p>
            We're thrilled to have you here! Access confidential mental health care tailored to your unique needs.
            </p>
            <div style="display: flex; align-items: center;">
            <img src="img/site1-brain.png" style="width: 4em; margin-right: 1em;"> 
            <h2>Mental health tailored to you</h2>
            </div>
            <p>
                Plus, gain access to on-demand wellness exercises to help you sleep better and reduce stress.
            </p>
                        <div style="display: flex; align-items: center;">
            <img src="img/site1-calendar.png" style="width: 4em; margin-right: 1em;">
            <h2>Confidential Services</h2>
            </div>
            <p>
                Schedule an appointment with a provider at a time that's convenient for you.
            </p>
                        <div style="display: flex; align-items: center;">
            <img src="img/site1-network.png" style="width: 4em; margin-right: 1em;">
            <h2>Excellent providers</h2>
            </div>
            <p>We have a large network of expert providers for you to choose from.</p>
        </div>
        <!-- vertical rule -->
        <div style="width: 1px; background-color: darkgray;"></div>
        <!-- second column -->
        <div style="flex: 1; padding-left: 1em;">
        <h1> Log in </h1>
            <p>This service is provided for free by your employer.</p></br>

            <div style="display: flex; align-items: center;">
            <img src="img/icon128.png" style="width: 3em; margin-right: 1em;"><p> You can use the Crescent wallet to  present an employment credential to access the site. Only the domain name of your employer will be revealed to us to confirm your eligibility.</p>
            </div>
            <div style="display: flex; align-items: center; margin: 1em 2em;">
                <div style="flex: 1; height: 1px; background-color: darkgray;"></div>
                <span style="padding: 0 1em; white-space: nowrap;">or</span>
                <div style="flex: 1; height: 1px; background-color: darkgray;"></div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; padding: 1em; background-color: lightgray; border-radius: 8px; cursor: pointer; width: 80%; margin: 0 auto;">
                Log in with your corporate credentials*
            </div>
            <p style="text-align: center; font-size:90%">*Your employer may learn of your use of our services, and additional information such as your full name, email adress will be shared with us.</p>
        </div>
    </div>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

</body>
</html>
