<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta crescent_verify_url="{{ site2_verify_url  | safe }}">
    <meta crescent_disclosure_uid="{{ site2_disclosure_uid | safe }}">
    <meta crescent_proof_spec="{{ site2_proof_spec_b64url }}">
    <meta crescent_challenge="{{ session_id }}">
    <title>{{ site2_verifier_name }} Sign Up</title>
    <link rel="stylesheet" href="css/site2_style.css">
    <link rel="icon" href="img/site2-favicon.ico" type="image/x-icon">
</head>
<body>

<div style="boxed">
    <div style="display: flex; align-items: center; justify-content: center;">
        <h1> {{ site2_verifier_name }} </h1>
    </div>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div style="display: flex; justify-content: center; text-align: center;">
        <p>Sign up to see photos and videos from your friends</br></p>
    </div>

    <div style="height: 1em;"></div>
    <h2>Age Verification</h2>
    <div style="display: flex; align-items: center;">
    <img src="img/icon128.png" style="width: 3em; margin-right: 1em;"> 
    <p><strong>You need to be 18 or older to create an account on our site.</strong> 
    Please present a proof of age to continue. 
    We will only learn that you are old enough, the rest of your driver's license stays private! </p>
    </div>
    <div style="height: 2em;"></div>

    <div style="display: flex; justify-content: center;">
        <img src="img/site2-crowd.jpg" style="width: 20em; margin-right: 1em; opacity: 0.5;">
    </div>
</div>

</body>

</html>
